/*coding with mobile first principle*/

:root {
  /*----------color variables----------*/
  --color-darker: #1b1b1d;
  --color-dark: #2a2a2c;
  --color-light: #f2f2f2;
  --color-lighter: #fff;
  --color-accent: #f25757;

  /*----------font variables----------*/
  --font-display: "Raleway", sans-serif;
  --font-paragraph: "Raleway", sans-serif;
}

/*----------general rules----------*/

html {
  scroll-behavior: smooth;
  scroll-padding-top: 140px;
}

body {
  margin: 0;
  padding: 0;

  font-weight: 300;
  line-height: 1.75;

  /*   overflow: hidden; */
}

* {
  list-style: none;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

img {
  object-fit: cover;
  max-width: 100%;
  display: block;
}

/*----------typography----------*/

a,
p,
input,
label,
button {
  font-family: var(--font-paragraph);
}

p {
  margin-block-end: 1rem;
  font-weight: 300;
  text-align: center;
  margin-block-start: 2rem;
}

h1,
h2,
h3,
h4,
.subheading {
  margin: 3rem 0 1.38rem;
  font-family: var(--font-display);
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}

h1 {
  margin-block-start: 0;
  font-size: 3.052rem;
  margin-block-end: 0.5rem;
}

h2 {
  font-size: 2.441rem;
  margin-block-start: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

h4 {
  font-size: 1.25rem;
  font-weight: 300;
  font-size: 0.85rem;
  margin-block-start: 0.5rem;
}

.subheading {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 300;
  text-align: center;
}

.small_text {
  font-size: 1rem;
  font-weight: 700;
  margin-block-start: 5rem;
  margin-block-end: 0.5rem;
}

input {
  font-weight: 300;
}

label {
  font-weight: 400;
}

button {
  font-weight: 700;
}

/*----------navigation----------*/

.navbar {
  position: sticky;
  top: 0;
  background-color: var(--color-darker);
  padding: 1rem 1.5rem;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.nav_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  position: fixed;

  top: 56px;
  width: 100%;
  text-align: center;
  padding: 1rem;
  padding-block-end: 3rem;
  background-color: var(--color-darker);

  left: -100%;
  transition: 0.3s;
}

.nav_item {
  list-style: none;
}

.nav_link {
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--color-lighter);
  transition: 0.7s ease;
}

.nav_menu.active {
  left: 0;
}

.logo {
  width: 45px;
}

/*-------------hamburger menu------------*/

.hamburger {
  display: block;
  margin-left: 0;
  cursor: pointer;
}

/*hide the middle bar when active*/

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

/*rotate the first and last bar*/

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 1px;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-lighter);
}

/*-------Sections-------*/

.header_wrapper,
.intro_wrapper {
  display: grid;
  grid-template-columns: auto minmax(0, 1000px) auto;
  align-items: center; /* left and right */
  justify-content: center; /* up and down */
}

.header_wrapper {
  background-color: var(--color-dark);
}

.intro_wrapper {
  background-color: var(--color-lighter);
  margin-block: 2rem;
}

.contact_wrapper {
  background-color: var(--color-accent);
  display: grid;
  grid-template-columns: auto minmax(0, 800px) auto;
  align-items: center;
  justify-content: center;
}

header,
#intro,
#contact {
  grid-column: 2/3;
  margin-block-start: 3rem;
  margin-block-end: 0rem;
  padding-inline: 2rem;
  padding-block: 2rem;

  display: grid;
  justify-items: center;
}

header > *,
#contact > * {
  color: white;
}

/*-----header section------*/

.zeppeliner {
  max-width: 60vw;
  margin-block-end: 3rem;
}

.circle_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-block-end: 0.5rem;
}

.circle {
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.small {
  height: 2px;
  width: 2px;
}

.medium {
  height: 4px;
  width: 4px;
}

.big {
  height: 6px;
  width: 6px;
}

.cta_link {
  text-decoration: none;
}

/*-----intro section------*/

#intro {
  margin-block-start: 1.5rem;
}

.icon {
  max-width: 60vw;
  margin: auto;
  margin-block-start: 3rem;
}

.proposition_text {
  margin-block-start: 1.2rem;
}

/*-----contact section------*/

form {
  margin-block-start: 2rem;
}

.form_control {
  width: 350px;
}

form {
  margin: 0 0 2rem;

  margin-block-start: 5rem;
}

label,
input {
  display: flex;
  flex-direction: column;
}

label {
  margin-block-start: 1rem;
  margin-block-end: 0.2rem;
  line-height: 1;
  margin-bottom: 5px;
  display: grid;
  gap: 3px;
}

input {
  /*remove browser styles*/
  -webkit-appearance: none;
  appearance: none;

  color: var(--color-lighter);
  border: none;
  border-bottom: 1px solid white;
  background: transparent;

  /*when selected a color does not appear*/
  outline: 0;
  width: 100%;
}

button {
  border: none;
  border-radius: 4px;
  background: var(--color-lighter);
  color: var(--color-accent);
  width: 25vw;
  padding: 1rem 1rem 1rem;
  margin-block-start: 2rem;
  margin-inline: auto;
  cursor: pointer;
}

.prize_icon {
  max-width: 10.5vw;
  margin-block-start: 1rem;
}

/*--------rules for Ipad--------*/

@media (min-width: 810px) {
  /*typography*/

  p {
    max-width: 70ch;
  }

  h2 {
    margin-block-end: 0.3rem;
  }

  .subheading {
    /*  font-size: 1.953rem; */
    margin-block-end: 0.5rem;
    font-size: 1.45rem;
  }

  /*layout*/

  main {
    margin-left: 93px;
  }

  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    flex-direction: column;
    height: 100%;
    overflow: auto;
  }

  .nav_menu {
    top: 0;
    margin: 0;
    z-index: 1;
    width: 35%;
    height: 100%;
    margin-left: 93px;
    justify-content: center;
    align-items: center;
  }

  .nav_link:hover {
    color: var(--color-accent);
  }

  .hamburger {
    margin: auto;
  }

  .header {
    padding-inline: 2rem;
  }

  .zeppeliner {
    max-width: 16vw;
  }

  .article_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }

  .icon {
    max-width: 14vw;
  }

  .prize_icon {
    max-width: 3.5vw;
  }
}

@media (min-width: 1000px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1700px) {
}
